html,
body {
    margin: 0px;
    padding: 0px;
    cursor: auto;
    overflow: hidden;
}

h1 {
    background: lightblue;
    font-size: 20px;
    color: white;
    padding: 10px 0px 5px 50px;
    margin: 0px;
}

.image {
    cursor: grabbing;
    position: relative;
}

.Scale-Button {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Scale-Button button {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.control {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    display: flex;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
}

.Select {
    padding: 5px;
}

button {
    cursor: pointer;
}